.drawerDesign > div > div {
  background: #87ac8d 0% 0% no-repeat padding-box;
  opacity: 1;
}
.MuiDrawer-paperAnchorLeft {
  background: #87ac8d 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
}
