#mainContainer {
    border-radius: var(--Radius-xl, 36px) var(--Radius-xl, 36px) var(--Radius-Sharp, 0px) var(--Radius-Sharp, 0px);
    background: var(--Primary-Primary400, #FFA16D);
    width: 100%;
}

#clickAbleText {
    color: var(--Base-Base-Black, #0B0A0A);
    font-family: Syne;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

#secondaryContainer {
    color: var(--Base-Base-Black, #0B0A0A);
    text-align: center;

    /* Lyfers - 1/Desktop/Body/Content Regular */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 19.2px */
}