#headerBanner {
    width: 100%;
    background: linear-gradient(90deg, rgba(251, 176, 58, 0.60) 0%, rgba(236, 32, 39, 0.60) 100%);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerBannerTextNormal {
    color: var(--Base-Base-Black, #0B0A0A);
    text-align: center;
    padding: 8px;
    font-weight: 400;
    display: inline;
}

#headerBannerTextClickable {
    color: var(--Base-Base-Black, #0B0A0A);
    display: inline;
    cursor: pointer;

    font-weight: 600;
}